
h1{
    font-family: 'Bitter', serif;
    color:#f8aa27;
    text-align: center;
  }
  
  h2{
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: center;
    font-size: xxx-large;
  }
  
  p{
    font-family: 'Fredoka One', cursive;
    color: white;
  }
  
  h3{
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: center;
  }
   
  dt {
      font-family: 'Bitter', serif;
      color:#f8aa27;
      line-height: 1;
    }
    
    dt span {
      font-size: 150%;
      font-weight: 900;
    }
    
    
    dd {
      font-family: 'Fredoka One', cursive;
      font-size: 100%;
      margin-left: 0;
      margin-top: 1.5rem;
      color: white;
    }
    
    table, th, td {
      border: 2.5px solid white;
      color: white;
      font-family: 'Fredoka One', cursive;
      font-weight: 100;
      font-size: medium;
    }
  
    th, td {
      padding: 5px;
    }
  
    table{
      margin-top: 3rem;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  
  .carousel-control-next-icon{
    width:6%
  }
  
  .carousel-control-prev-icon{
    width:6%
  }
